<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template || About Page</title>
</head>

<body>
    <h1>This is the about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, adipisci. Sequi ipsa nam tempore voluptas
        placeat temporibus esse dolorum laudantium sit, quibusdam facere labore provident autem obcaecati deserunt?
        Culpa incidunt ducimus distinctio minima id suscipit accusamus dolorum laborum deleniti dignissimos similique
        quod nobis recusandae temporibus dolor ut autem blanditiis ad cumque ex, omnis aliquam in sequi velit. Est hic
        porro enim, laborum aperiam non ex iusto incidunt, quia assumenda dicta! Obcaecati, architecto. Facere
        voluptates ipsa quasi laboriosam temporibus, reprehenderit soluta earum deleniti repellat, distinctio,
        consequatur autem. Ullam sunt quasi nostrum ut laudantium totam omnis esse porro sint! Obcaecati, incidunt
        facere!
    </p>
    <button>Click</button>
</body>

</html>